body,
html {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
